/* styles/HeroSection.module.css */

.hero {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .profile-image {
    width: 200px; /* Adjust the size as needed */
    border-radius: 50%;
  }
  
  .heading {
    font-size: 2rem;
    margin-top: 20px;
  }
  