.navbar {
  background-color: #ffffff 
  padding 16px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
li {
  margin: 0;
}
a {
  text-decoration: none;
  color: #333;
}
